body {
  font-family: sans-serif;
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  padding: 1em;
  margin: 0;
}

#manga-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

#manga-container img {
  width: 100%;
  height: auto;
  margin: 1em 0;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
